.text {color: rgb(95, 53, 2);}
body {text-align: center; background-color: bisque; font-style:oblique;}
h1 {font-size: 120px; margin-top: 0.5em; margin-bottom: 0.4em}
h2 {font-size: 80px;}
article {font-size: 30px;}
form {font-size: 30px;}
input {font-style: oblique; font-size: 30px; height: 30px;}
button {font-size: 30px; font-style: oblique;}
section {font-size: 40px;}
#mm-about-us {margin-left: 40px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
#mm-weddings {margin-left: 40px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
#mm-funerals {margin-left: 40px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
#mm-home {margin-left: 40px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
#full-name {margin-left: 70px;}
#contact-number {margin-left: 0px;}
#email-address {margin-left: 24px;}
#enquiry {margin-left: 102px;}
#hl-instagram {width: 60px; border-radius: 50px; margin: 20px}
#hl-tiktok {width: 60px; border-radius: 50px; margin: 20px;}
#hl-facebook {width: 60px; border-radius: 50px; margin: 20px;}