.text {color: rgb(95, 53, 2);}
      body {text-align: center; background-color: bisque; font-style:oblique;}
      h1 {font-size: 120px; margin-top: 0.5em; margin-bottom: 0.4em}
      h2 {font-size: 80px; background-color: rgba(95, 53, 2, 0.338);}
      article {font-size: 30px;}
     
      #btn-about-us {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-weddings {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-funerals {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-events {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      
      #hl-instagram {width: 60px; border-radius: 50px; margin: 20px}
      #hl-tiktok {width: 60px; border-radius: 50px; margin: 20px;}
      #hl-facebook {width: 60px; border-radius: 50px; margin: 20px;}
      
      #sidebar {position: absolute; width: 200px; height: 330px; background: white; left: -300px; transition: 0.4s;}
      #sidebar ul li {list-style-type: none;; font-size: 30px; padding: 20px}
      #sidebar.active {left: 0;}
      #sidebar .toggle-btn {position: absolute; top: 30px; left: 330px;}
      .toggle-btn span {width: 45px; height: 4px; background-color: rgb(95, 53, 2); display: block; margin-top: 4px;}
      .sidebar-hl {text-decoration: none; color: rgb(95, 53, 2);}