.text {color: rgb(95, 53, 2);}
      body {text-align: center; background-color: bisque; font-style:oblique;}
      h1 {font-size: 120px; margin-top: 0.5em; margin-bottom: 0.4em}
      h2 {font-size: 80px; background-color: rgba(95, 53, 2, 0.338);}
      article {font-size: 30px;}
      #mm-about-us {margin-right: 20px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-weddings {margin-left: 20px; margin-right: 20px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-funerals {margin-left: 20px; margin-right: 20px; background-color: rgba(95, 53, 2, 0.338) ; color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-events {margin-left: 20px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #btn-about-us {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-weddings {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-funerals {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #btn-events {background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 30px; padding: 2px 10px 2px 10px;}
      #hl-instagram {width: 60px; border-radius: 50px; margin: 20px}
      #hl-tiktok {width: 60px; border-radius: 50px; margin: 20px;}
      #hl-facebook {width: 60px; border-radius: 50px; margin: 20px;}