.text {color: rgb(95, 53, 2);}
      body {text-align: center; background-color: bisque; font-style:oblique;}
      h1 {font-size: 120px; margin-top: 0.5em; margin-bottom: 0.4em}
      h2 {font-size: 80px;}
      article {font-size: 30px;}
      form {font-size: 30px;}
      input {font-style: oblique; font-size: 30px; height: 30px;}
      button {font-size: 30px; font-style: oblique;}
      #wef {font-size: 40px;}
      #mm-about-us {margin-right: 20px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-home {margin-right: 40px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-funerals {margin-left: 20px; margin-right: 20px; background-color: rgba(95, 53, 2, 0.338);  color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #mm-events {margin-left: 20px; background-color: rgba(95, 53, 2, 0.338); color: rgb(95, 53, 2); text-decoration: none; font-size: 40px;}
      #ip-full-name {margin-left: 70px;}
      #ip-contact-number {margin-left: 0px;}
      #ip-email-address {margin-left: 23px;}
      #ip-wedding-date {margin-left: 29px;}
      #ip-venue-postcode {margin-left: 10px;}
      #five-ten {margin-left: 63px;}
      #twofive-five {margin-left: 19px;}
      #one-twofive {margin-left: 18px;}
      #hl-instagram {width: 60px; border-radius: 50px; margin: 20px}
      #hl-tiktok {width: 60px; border-radius: 50px; margin: 20px;}
      #hl-facebook {width: 60px; border-radius: 50px; margin: 20px;}